# bytes Data Type    ( IMMUTABLE )

In [1]:
x = [10,20,30,40,50]

In [2]:
b = bytes(x)

In [3]:
type(b)

bytes

In [4]:
type(x)

list

In [5]:
b[0]

10

In [6]:
b[-1]

50

In [7]:
b[3]

40

In [8]:
b[0:4]

b'\n\x14\x1e('

In [9]:
for i in b: print(i)

10
20
30
40
50

In [10]:
type(b[0:4])

bytes

In [11]:
x = [10,20,30,257,40,50]

In [12]:
b = bytes(x)

ValueError: bytes must be in range(0, 256)

In [14]:
x = [10,20,30,40,50]

In [15]:
b = bytes(x)

In [16]:
b[1]

20

In [17]:
b[1] = 88                        # BYTES Datatype is IMMUTABLE

TypeError: 'bytes' object does not support item assignment

# bytearray Data Type     ( MUTABLE )

In [123]:
x = [10,20,3,4,5,6,7]

In [124]:
b = bytearray(x)

In [125]:
b

bytearray(b'\n\x14\x03\x04\x05\x06\x07')

In [126]:
type(b)

bytearray

In [127]:
b[2]

3

In [128]:
b[0] = 100                 # bytearray Datatype is MUTABLE

In [129]:
for i in b: print(i)

100
20
3
4
5
6
7

# List Data Type  ( MUTABLE )

In [26]:
l = []

In [27]:
type(l)

list

In [28]:
l.append(10)

In [29]:
l.append(20)

In [30]:
l.append(30)

In [31]:
l.append(30)

In [32]:
l.append(3.42)

In [33]:
l.append('vinod')

In [34]:
l.append(None)

In [35]:
l.append(True)

In [36]:
l.append(12+23j)

In [37]:
print(l)

[10, 20, 30, 30, 3.42, 'vinod', None, True, (12+23j)]

In [38]:
l[0]

10

In [39]:
l[-1]

(12+23j)

In [40]:
l[-3]

In [41]:
l[:5]

[10, 20, 30, 30, 3.42]

In [42]:
l[4::-1]

[3.42, 30, 30, 20, 10]

In [43]:
l.remove(None)

In [44]:
print(l)

[10, 20, 30, 30, 3.42, 'vinod', True, (12+23j)]

In [45]:
s = [132,4323,523,2654,78,2322,545]

In [46]:
s.sort()

In [47]:
s

[78, 132, 523, 545, 2322, 2654, 4323]

In [48]:
s[1]

132

In [49]:
s1 = s*2

In [50]:
s1

[78, 132, 523, 545, 2322, 2654, 4323, 78, 132, 523, 545, 2322, 2654, 4323]

In [51]:
d = [21,34,543,[224,445,2,56121,45,'vin'],45,3,332,3.3]

In [52]:
d

[21, 34, 543, [224, 445, 2, 56121, 45, 'vin'], 45, 3, 332, 3.3]

In [53]:
d[3][0:4]

[224, 445, 2, 56121]

# tuple                    ( IMMUTABLE )

In [54]:
l = [1,2,3,45,56,7]

In [55]:
t = tuple(l)

In [56]:
t

(1, 2, 3, 45, 56, 7)

In [57]:
t = (10, True, 20, 'vinod', 30, 40, 50)

In [58]:
t

(10, True, 20, 'vinod', 30, 40, 50)

In [59]:
t[0]

10

In [60]:
t[0:5]

(10, True, 20, 'vinod', 30)

In [61]:
t[1] = 3000

TypeError: 'tuple' object does not support item assignment

In [62]:
t

(10, True, 20, 'vinod', 30, 40, 50)

In [63]:
t1 = t*2

In [64]:
t1

(10, True, 20, 'vinod', 30, 40, 50, 10, True, 20, 'vinod', 30, 40, 50)

In [65]:
a = (1,2,3,4,[2,343,543,564],'vinod')

In [66]:
a

(1, 2, 3, 4, [2, 343, 543, 564], 'vinod')

In [67]:
a[4]

[2, 343, 543, 564]

In [68]:
a[4][3]

564

# range()                                ( IMMUTABLE )

In [69]:
range(10)

range(0, 10)

In [70]:
print(range(10))

range(0, 10)

In [71]:
r = range(10)

In [72]:
type(r)

range

In [73]:
for i in r: print(i)

0
1
2
3
4
5
6
7
8
9

In [74]:
 r[4]

4

In [75]:
r[0]

0

In [76]:
r[0] = 299291                  # immutable

TypeError: 'range' object does not support item assignment

In [ ]:
range(10,30)

In [ ]:
for i in range(10,30): print(i)

In [ ]:
range(10,50,2)

In [ ]:
for i  in range(10,51,5) : print(i)

In [130]:
l = list(range(10,50,5))

In [131]:
l

[10, 15, 20, 25, 30, 35, 40, 45]

In [132]:
range('a','g')

TypeError: 'str' object cannot be interpreted as an integer

In [133]:
range(12.443, 243.3)

TypeError: 'float' object cannot be interpreted as an integer

# set                         ( MUTABLE)

In [134]:
s = {10,20,30,10,30,20,40,50,'vinod', True}

In [135]:
s

{10, 20, 30, 40, 50, True, 'vinod'}

In [148]:
s[0]                # TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [149]:
s[1:3]                 # TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [140]:
s.add('swap')

In [141]:
s.remove(50)

In [142]:
s

{10, 20, 30, 40, True, 'swap', 'vinod'}

In [143]:
s1 = {434,7676,32,30,'vinod', True}

In [144]:
s1

{30, 32, 434, 7676, True, 'vinod'}

In [145]:
s.intersection(s1)

{30, True, 'vinod'}

In [146]:
q = set()

for i in range(0,11):
    q.add(i)
    
print(q)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [147]:
s

{10, 20, 30, 40, True, 'swap', 'vinod'}

# frozenset                  ( IMMUTABLE)

In [150]:
s = {10,20,30,40,50}

In [151]:
fs = frozenset(s)

In [152]:
type(fs)

frozenset

In [153]:
fs

frozenset({10, 20, 30, 40, 50})

In [155]:
fs.add(23)  # AttributeError: 'frozenset' object has no attribute 'add'

AttributeError: 'frozenset' object has no attribute 'add'

# dict               ( MUTABLE )

In [77]:
d = {'vinod':10, 'swapnil':20, 100:100.0000, 'vinod':10, 'l':[12,324,65,56,433],'mahesh':30}

In [78]:
d

{'vinod': 10,
 'swapnil': 20,
 100: 100.0,
 'l': [12, 324, 65, 56, 433],
 'mahesh': 30}

In [79]:
d['l']

[12, 324, 65, 56, 433]

In [80]:
d[100]

100.0

In [81]:
d['l'][0:3]

[12, 324, 65]

In [156]:
d[0:5]              #ypeError: unhashable type: 'slice'

TypeError: unhashable type: 'slice'

In [83]:
a = {}

In [84]:
type(a)

dict

In [85]:
a[100] = 'vinod'

In [86]:
a[200] = 'swap'

In [87]:
a

{100: 'vinod', 200: 'swap'}

In [88]:
a[200] = 'app'

In [89]:
a

{100: 'vinod', 200: 'app'}

In [90]:
a[300] = 'vinod'

In [91]:
a

{100: 'vinod', 200: 'app', 300: 'vinod'}

In [99]:
d = {'vin': 123, 'swapnil': 1234, 'swap':1234, 'app':678}

In [100]:
d

{'vin': 123, 'swapnil': 1234, 'swap': 1234, 'app': 678}

In [101]:
d

{'vin': 123, 'swapnil': 1234, 'swap': 1234, 'app': 678}

In [104]:
d['college'] = 12234

In [105]:
d

{'vin': 123, 'swapnil': 1234, 'swap': 1234, 'app': 678, 'college': 12234}

In [106]:
d['college']: 23542

In [107]:
d

{'vin': 123, 'swapnil': 1234, 'swap': 1234, 'app': 678, 'college': 12234}

In [116]:
a = 12

In [117]:
id(a)

140716771850368

In [118]:
a = 23

In [119]:
id(a)

140716771850720

## OTHER DATA TYPE

# None Data Type

In [157]:
def f1():
    a =10

In [158]:
def f2(): print("Hello dont be like None")

In [159]:
f2()

Hello dont be like None

In [160]:
f2()

Hello dont be like None

In [162]:
print(f1())

None

In [166]:
a  = None

In [167]:
a

In [165]:
print(a)

None

In [171]:
def f3():
    
    
    pass

In [172]:
print(f3())

None