# 1. Arithmetic Operators( +   -   *  /   %   //    ** )

In [1]:
a = 10
b = 20

In [2]:
a+b

30

In [3]:
a-b

-10

In [4]:
a*b

200

In [5]:
a/b

0.5

In [6]:
a//b

0

In [7]:
a%b

10

In [8]:
a**b

100000000000000000000

In [10]:
20/2      # '/' (division) operator always returns FLOAT value

10.0

In [13]:
19.0//3.2

5.0

In [14]:
10.5/2

5.25

In [15]:
10.5//2

5.0

In [17]:
10//3

3

In [23]:
'vinod' + " shende"

'vinod shende'

In [26]:
'vinod' + 2  


# TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [34]:
"vinod "*10

'vinod vinod vinod vinod vinod vinod vinod vinod vinod vinod '

In [35]:
5*'shende '

'shende shende shende shende shende '

In [37]:
10** -2

0.01

In [39]:
8 ** -3

0.001953125

In [40]:
(10+5j)**(12+45j)

(1492.6309007125788+2958.19026663331j)

In [41]:
10/0

ZeroDivisionError: division by zero

In [42]:
121%0

ZeroDivisionError: integer division or modulo by zero

In [43]:
10 ** 0

1

# 2. Relational Operators( > , < ,  >= , <=)

In [51]:
a = 10
b = 20

In [53]:
a > b

False

In [55]:
a < b

True

In [56]:
a <= b

True

In [57]:
a >= b

False

In [121]:
x = 'vinod'
y = 'apurv'
z = 'swapnil'

In [115]:
x > y    # comparison is based on ALPHABETICAL ORDER

True

In [116]:
x < y

False

In [117]:
x <= y

False

In [118]:
x >= y

True

In [123]:
x < z

False

In [124]:
a = True
b = False

In [125]:
a < b

False

In [126]:
a > b

True

# 3. Equality Operators( ==   ,  != )

In [138]:
10 == 10

True

In [139]:
10 == 20

False

In [140]:
10 != 20

True

In [142]:
True == 1

True

In [143]:
False == 0.00

True

In [144]:
True != False

True

In [145]:
True == False

False

In [164]:
'vinod' == 'vinod'

True

In [161]:
'vinod' == 'Vinod'

False

In [162]:
"vinod" == 2

False

In [165]:
10 == 20 == 30 == 40 == 50

False

In [167]:
10 != 20 == 10+10 != 40 != 50

True

In [172]:
10.10 == 10.1

True

# 4. Logical Operators ( and , or , not)

## For boolean types  :

In [173]:
True and True

True

In [174]:
True and False

False

In [175]:
True or False

True

In [176]:
True or True

True

In [177]:
False or True

True

In [178]:
not True

False

In [179]:
not False

True

## For non-boolean types :

###  x and y 

#### if x evaluates to False then result is x otherwise returns y

In [187]:
0 and 'ds'

0

In [188]:
12 and "wed"

'wed'

In [190]:
10 and 20

20

In [197]:
"" and 2312

''

In [198]:
0.0 and 23

0.0

###  x or y 

#### if x evaluates to True then result is x otherwise returns y

In [193]:
12 or ''

12

In [194]:
12 or 34

12

In [195]:
0 or ""

''

In [196]:
'wwdjs' or 0.0

'wwdjs'

### not x

#### if x is evaluates to False  then result is True otherwise False

In [199]:
not ""

True

In [200]:
not "dwjhs"

False

In [201]:
not 0

True

In [202]:
not 213

False

In [205]:
10/0 or 10

ZeroDivisionError: division by zero

In [208]:
10 or 10/0

10

# 5.Bitwise Operators(& , | , ^ , ~ , << ,  >> )

 ### Bitwise operator is applicable only for int and boolean types

### &   : if both bits are 1 then only result is 1 otherwise result is 0
 
### |     : if atleast one bit is 1 then result is 1 otherwise result is 0
 
### ^    : if bits are different then only result is 1 otherwise result is 0

### ~    : bitwise complement operator e.g. 1 --> 0  ,     0 --> 1 (negative numbers are represented using 2's complement form)
 
### <<  : bitwise left shift
 
### >>  : bitwise right shift

In [216]:
bin(4)

'0b100'

In [217]:
bin(5)

'0b101'

In [218]:
4 & 5           # & --> and

4

In [220]:
4 | 5           # | --> or

5

In [221]:
4 ^ 5         # ^ --> x-or

1

In [222]:
~ 4              # ~ --> negation
           #(negative numbers are represented using 2's complement form)

-5

In [225]:
~1566

-1567

In [226]:
~2

-3

In [227]:
~True

-2

In [228]:
~False

-1

In [229]:
~0

-1

In [230]:
~1

-2

# 6. Shift Operators ( <<   ,  >>)

In [1]:
10<<2        #   <<     LEFT SHIFT OPERATOR

40

In [2]:
bin(10)

'0b1010'

In [2]:
10>>2       #   >>      RIGHT SHIFT OPERATOR

2

In [3]:
2<<2

8

In [6]:
2>>1

1

In [3]:
True << 2

4

In [4]:
bin(True)

'0b1'

In [8]:
False >> 2

0

# 7. Assignment Operator

In [9]:
x = 10

In [10]:
x

10

In [11]:
a,b,c,d = 10,20,30,40

In [12]:
a

10

In [13]:
b

20

In [14]:
c

30

In [15]:
d

40

In [16]:
x += 10

In [17]:
x

20

In [18]:
x -= 5

In [19]:
x

15

In [20]:
x *= 10

In [21]:
x

150

In [22]:
x /= 10

In [23]:
x

15.0

In [24]:
x *= 100

In [25]:
x

1500.0

In [26]:
x //= 10

In [27]:
x **= 2

In [34]:
int(x)

22500

In [5]:
a,b,c,d = 1,2,3

ValueError: not enough values to unpack (expected 4, got 3)

In [6]:
a = 10

In [7]:
a++

SyntaxError: invalid syntax (<ipython-input-7-22e3d6dc1353>, line 1)

In [14]:
++a           # it treat " ++a " as  +(+a)
               # " -+a " ==>  -(+a)  ==> -a

10

In [15]:
+-+++---+a

10

In [16]:
-----a

-10

In [19]:
a &= 5    # ==> a & 5  ==>  4 & 5

In [20]:
a

0

# 8. Ternary Operator or Conditional Operator

#### Syntax : x = first_value if condition else second_value

#### nesting Syntax : x = first_value if condition1 else second_value if condition2 else third value

In [23]:
x = 10 if 10 < 9 else 9

In [24]:
x

9

In [27]:
a = int(input("Enter first value : "))
b = int(input("Enter second value : "))
min = a if a<b else b
print("minimum value : ",min)

Enter first value : 5
Enter second value : 4
minimum value :  4

In [30]:
a = int(input("Enter first value : "))
b = int(input("Enter second value : "))
c = int(input("Enter third value : "))
min = a if a<b and a<c else b if b<c else c
print("minimum value : ",min)

Enter first value : 1
Enter second value : 22
Enter third value : 12
minimum value :  1

In [32]:
a = int(input("Enter first value : "))
b = int(input("Enter second value : "))

print("both numbers are equal" if a==b else "first_number is less than second_number" if a<b else "first_number is greater than second_number")

Enter first value : 1
Enter second value : 34
first_number is less than second_number

In [2]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))

print("both are equal" if a==b else "a is greater than b" if a>b else "a is less than b" )

enter first number: 10
enter second number: 10
both are equal

# 9. Special Operators: 
### 1. Identity Operators
### 2. Membership Operators

# 9.1. Identity Operators  ( is , is not )

In [3]:
a = 10
b = 10

In [18]:
id(a)

1780790171632

In [19]:
id(b)

1780790171632

In [6]:
a is b

True

In [17]:
a = "durga"
b = 'durga'
a is b

True

In [16]:
a = 12.45
b = 12.45
a is b

False

In [15]:
a = 123
b = 456
a is not b

True

In [5]:
list1 = [10,20,30]
list2 = [10,20,30]
print('adress of list1: ',id(list1))
print('adress of list2: ',id(list2))
print("for 'is' operator : " , list1 is list2)
print("for '==' operator : " , list1 == list2)

adress of list1:  1584023138816
adress of list2:  1584023139712
for 'is' operator :  False
for '==' operator :  True

# 9.2. Membership Operators ( in , not in )

In [13]:
x = "my name is Vinod"
print('vinod' in x)
print('Vinod' in x)
print('n' in x)
print(" " in x)

False
True
True
True

In [17]:
list1 = [10,20,30,40,50,60]

print(10 in list1)
print(80 not in list1)
print(10 and 20 in list1)
print(1000 in list1)

True
True
True
False

# Operator Precedence :

In [24]:
10 + 2 * 3

16

In [25]:
(10 + 2) * 3

36

In [26]:
10/2*3+4-3+(10-4)**2

52.0