# input() :

### Every input value is treated as STRING TYPE ONLY.

#### We have to convert that string type to our required type by using the corresponding type casting methods.

In [4]:
x = input('Enter number : ')
type(x)

Enter number : 10000

str

In [5]:
x = input('Enter number : ')
type(x)

Enter number : 1043.232343312

str

In [7]:
x = input("enter first number : ")
y = input("enter second number : ")
print("Sum of numbers is : ", x+y)  # it treat numbers as strings thats why concatenation is performed

enter first number : 10
enter second number : 20
Sum of numbers is :  1020

In [9]:
x = input("enter first number : ")
y = input("enter second number : ")
i = int(x)        # type casting to convert str to int
j = int(y)
print("Sum of numbers is : ", i+j)

enter first number : 10
enter second number : 20
Sum of numbers is :  30

In [11]:
x = int(input("enter first number : "))
y = int(input("enter second number : "))

print("Sum of numbers is : ", x+y)

enter first number : 10
enter second number : 20
Sum of numbers is :  30

In [12]:
print("Sum of numbers is : ", int(input("enter first number : ")) + int(input("enter second number : ")))

enter first number : 10
enter second number : 20
Sum of numbers is :  30

In [15]:
eno = int(input("Enter Employee number: "))
ename = input("Enter Employee name: ")
esal = float(input("Enter Employee salary: "))
eaddr = input("Enter Employee address: ")
married =(input("Enter married or not?[Yes or No]: "))
print("\nEmployee number: ", eno)
print("Employee name: ", ename)
print("Employee salary: ", esal)
print("Employee address: ", eaddr)
print("married or not?: ", married)

Enter Employee number: 1234567890
Enter Employee name: swapnil
Enter Employee salary: 400
Enter Employee address: shedgaon
Enter married or not?[Yes or No]: No

Employee number:  1234567890
Employee name:  swapnil
Employee salary:  400.0
Employee address:  shedgaon
married or not?:  No

In [27]:
a,b = [int(x) for x in input("Enter two numbers: ").split()]

print("multiplication of a and b: ", a*b)

Enter two numbers: 10 20
multiplication of a and b:  200

In [34]:
a,b,c = [float(x) for x in input("Enter 3 numbers: ").split(",")]

print("addition of 3 numbers: ", a+b+c)

Enter 3 numbers: 12.5,50.40,33.5
addition of 3 numbers:  96.4

In [57]:
x = "1 2 3 4 5 6 7".split()

In [58]:
x

['1', '2', '3', '4', '5', '6', '7']

In [59]:
y=[]
for n in x:
    
   
    y.append(int(n))
print(y)

[1, 2, 3, 4, 5, 6, 7]

# eval() :

### eval function take a string and evaluate the result

### eval() can evaluate the input to list, tuple, set, etc based on the provided input.

In [63]:
x = eval("(10+20+30+4.5)*4")
print(x)

258.0

In [65]:
numerical = input("Enter Mathematical Expression: ")

print("\nSolution of the expression : ", eval(numerical))

Enter Mathematical Expression: (100+399)-(12*34)/2

Solution of the expression :  295.0

In [74]:
data = eval(input("enter some data: "))
print(data)
print(type(data))

enter some data: [10,20,30,40,50]
[10, 20, 30, 40, 50]
<class 'list'>

In [75]:
data = eval(input("enter some data: "))
print(data)
print(type(data))

enter some data: (10,20,30,40,50,60,70,80,90,100)
(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
<class 'tuple'>

# Output Statements :

## print()

In [7]:
print("vinod shende")
print()                   # new line
print("i2it")

vinod shende

i2it

In [9]:
print("hello world")    # to print string

hello world

In [10]:
print("vinod\nshende")

vinod
shende

In [11]:
print("shende\tvinod")

shende	vinod

In [12]:
print("shende" + "vinod")   # concatenation

shendevinod

In [14]:
print("\tshende\tvinod" * 3)   # repetation

	shende	vinod	shende	vinod	shende	vinod

In [15]:
print("shende", "vinod")    # using comma ','

shende vinod

In [16]:
print("shende" + "vinod")

shendevinod

In [22]:
a,b,c = 10,20,30

print("the values : ",a,b,c)     # default separator is space for commas

the values :  10 20 30

In [31]:
a,b,c = 10,20,30
print(a,b,c)
print(a,b,c,sep = ',')    # we can specify separator by using "sep" attribute
print(a,b,c,sep = ':')

10 20 30
10,20,30
10:20:30

In [39]:
print('hello')   # default value for end attribute is new line character '\n'
print('vinod',end ="__") # we can specify value by using "end" attribute   
print('shende')
print('How are you??')

hello
vinod__shende
How are you??

In [47]:
print(10,20,30,40,50,sep = "::")  # only 'sep' attribute


print(10,end='--')     
print(20,end='--')        # only 'end' attribute
print(30,end='--')
print(40,end='--')
print(50)


print(10,20,30,40,50,sep = "::",end = ":")  # both 'sep' and 'end' operator
print(60,70,80,90,100,sep = "::")

10::20::30::40::50
10--20--30--40--50
10::20::30::40::50:60::70::80::90::100

In [54]:
l = [10,20,30,40,50]

t = (60,70,80,90,100)

s = {1,2,3,4,5}

print(l)
print(t)
print(s)

print()

print(l, end = " ==> ")
print(t, end = " ==> ")
print(s)

[10, 20, 30, 40, 50]
(60, 70, 80, 90, 100)
{1, 2, 3, 4, 5}

[10, 20, 30, 40, 50] ==> (60, 70, 80, 90, 100) ==> {1, 2, 3, 4, 5}

In [57]:
a,b,c = 10,20,30

print("value of a, b and c: %i %i %i " %(a,b,c))

value of a, b and c: 10 20 30

In [58]:
name = 'vinod'
l = [10,20,30,40,50]

print("hello %s the list is %s"%(name,l))

hello vinod the list is [10, 20, 30, 40, 50]

In [65]:
# {} = Replacement Operator


name = "vinod"
degree = "BE Comp"
roll_no = 55
college  = "I2IT"

print("my name is {}, I'm currently studying {} at {} college and roll number is {}" .format(name,degree,college,roll_no))

print("my name is {0}, I'm currently studying {1} at {2} college and roll number is {3}" .format(name,degree,college,roll_no))

print("my name is {x}, I'm currently studying {y} at {z} college and roll number is {r}".format(x=name, z=college, y=degree, r=roll_no))

print(f"my name is {name}, I'm currently studying {degree} at {college} college and roll number is {roll_no}")

my name is vinod, I'm currently studying BE Comp at I2IT college and roll number is 55
my name is vinod, I'm currently studying BE Comp at I2IT college and roll number is 55
my name is vinod, I'm currently studying BE Comp at I2IT college and roll number is 55
my name is vinod, I'm currently studying BE Comp at I2IT college and roll number is 55