### 1) Insertion order is PRESERVED
### 2) DUPLICATE objects are ALLOWED
### 3) HETEROGENOUS objects are ALLOWED
### 4) GROWABLE (Dynamic)
### 5) Represented by using [ ] brackets
### 6) Indexing and slicing (both +ve / -ve)
### 7) MUTABLE

# Creation of List Object :

## 1) by creating empty list :

In [4]:
l = []

print(l)
print(type(l))

[]
<class 'list'>

## 2) If we know elements already :

In [14]:
l = [1,2,'vinod',45.66,1+23j]

print(l)

[1, 2, 'vinod', 45.66, (1+23j)]

## 3) With Dynamic Input :

In [9]:
l = eval(input("Enter list : "))

print("\nList : ",l,"\n")
print(type(l))

Enter list : [1,2,3,4,5,6,7,8,9]

List :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

<class 'list'>

## 4) Using list() function :

In [19]:
l = list(range(0,11,2))

print("List : ",l,"\n")

print(type(l))

List :  [0, 2, 4, 6, 8, 10]

<class 'list'>

In [18]:
t = (1,2,'vinod',45.66,1+23j)

l = list(t)

print("List : ",l,"\n")
print(type(l))

List :  [1, 2, 'vinod', 45.66, (1+23j)]

<class 'list'>

In [17]:
s = "Vinod"

l = list(s)

print("List : ",l,"\n")
print(type(l))

List :  ['V', 'i', 'n', 'o', 'd']

<class 'list'>

## 5) Using Split() function :

In [20]:
s = "Learning PYTHON is very easy"

l = s.split()

print("List : ",l,"\n")
print(type(l))

List :  ['Learning', 'PYTHON', 'is', 'very', 'easy']

<class 'list'>

### Note : We can take list inside another list, such type of lists are called NESTED LISTS.

In [22]:
l = [100,200,['vinod','apurv','mahesh'],400,500,[1.2,100]]
print("List:",l)

List: [100, 200, ['vinod', 'apurv', 'mahesh'], 400, 500, [1.2, 100]]

# Accessing the elements of List :
### 1) Indexing
### 2) Slicing

## 1) By using Index :

In [23]:
l = [10,20,30,40]

In [24]:
l[0]

10

In [27]:
l[3]

40

In [29]:
l[-1]

40

In [30]:
l[-4]

10

In [26]:
l[10]

IndexError: list index out of range

In [31]:
l1 = [100,200,[10.5,11.5,12.5],300,400]

In [32]:
l1[1]

200

In [33]:
l1[-1]

400

In [35]:
l1[2]

[10.5, 11.5, 12.5]

In [37]:
l1[2][2]

12.5

In [38]:
l1[-3][0]

10.5

## 2) By using Slice Operator :
### Syntax : list_name[start : end : step]

In [46]:
l = [10,20,30,40,50,60,70,80,90]

In [47]:
l[::]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [48]:
l[::2]

[10, 30, 50, 70, 90]

In [49]:
l[::-1]          # reverse the list

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [52]:
l[2:6:1]

[30, 40, 50, 60]

In [59]:
l1 = [100,200,[10.5,11.5,12.5,13.5,14.5,15.5],300,400]

In [60]:
l1[2][::1]

[10.5, 11.5, 12.5, 13.5, 14.5, 15.5]

In [63]:
l1[2][-1:-4:-1]

[15.5, 14.5, 13.5]

# Mutability :

In [67]:
l = [10,20,30,40,50]

print("\n list before : ",l)

l[1] = 3000     # we can modify content of the list

print("\n list after : ",l)

 list before :  [10, 20, 30, 40, 50]

 list after :  [10, 3000, 30, 40, 50]

# Traversing the elements of list : 
### sequential access of each element in the list is called traversal

## 1) By using while loop :

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]
i = 0
while i < len(l):
    print(l[i])
    i += 1

1
2
3
4
5
6
7
8
9
10

## 2) By using for loop :

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]

for x in l:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [4]:
l = [1,2,3,4,5,6,7,8,9,10]

for x in l:
    if x%2 == 0:
        print(x)
    else:
        continue

2
4
6
8
10

In [18]:
l = ["A","B","C","D","E","F","G","H","I","J"]
i = 0
for x in l:
    print(f"Element at +ve index {i} and at -ve index {i-len(l)}: ",x)
    i += 1

Element at +ve index 0 and at -ve index -10:  A
Element at +ve index 1 and at -ve index -9:  B
Element at +ve index 2 and at -ve index -8:  C
Element at +ve index 3 and at -ve index -7:  D
Element at +ve index 4 and at -ve index -6:  E
Element at +ve index 5 and at -ve index -5:  F
Element at +ve index 6 and at -ve index -4:  G
Element at +ve index 7 and at -ve index -3:  H
Element at +ve index 8 and at -ve index -2:  I
Element at +ve index 9 and at -ve index -1:  J

# IMP Functions of List :

## I. To get the information about the list :

### 1) len()
#### Returns the total number of elements present in the list

In [19]:
l = ["A","B","C","D","E","F","G","H","I","J"]

print(len(l))

10

In [20]:
l = [1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100]

print(len(l))

19

### 2) count()
#### Returns the number of occurences of specified item in the list

In [1]:
l = [1,2,3,3,2,22,4,5,4,4,2,2,5,5,1]

print(l.count(1))
print(l.count(2))
print(l.count(3))
print(l.count(4))
print(l.count(5))
print(l.count(6)) # 6 is not in the list

2
4
2
3
3
0

### 3) index()
#### Returns the index of first occurence of the specified item

In [26]:
l = [1,2,2,2,2,3,3]

print(l.index(1))
print(l.index(2))
print(l.index(3))

0
1
5

In [28]:
l = [1,2,2,2,2,3,3]

print(l.index(1))
print(l.index(2))
print(l.index(3))
print(l.index(4))     # ValueError: 4 is not in list

0
1
5

ValueError: 4 is not in list

## II. Manipulating elements of List :

### 1) append()
#### To add item at the end of the list

In [30]:
l = []

l.append("A")
l.append("B")
l.append("C")

print(l)

['A', 'B', 'C']

In [32]:
l1 = []

for x in range(1,101):
    if x%10==0:
        l1.append(x)
    
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### 2) insert()
#### Syntax : list_name.insert(index_position , item to insert)
#### To insert item at specified index position

In [34]:
l = [1,2,3,4,5,6,7,8,9,10]

l.insert(1,":)")

print(l)

[1, ':)', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
l1 = [10,20,30,40,50]

l1.insert(-5,":) :(")

print(l1)

[':) :(', 10, 20, 30, 40, 50]

#### Note : 1) If the specified index is greater than max index then element will be inserted at last position.
#### 2) If the specified index is smaller than min index then element will be inserted at first position.

In [40]:
l1 = [10,20,30,40,50]

l1.insert(-7,":) :(")
l1.insert(7,":) :(")

print(l1)

[':) :(', 10, 20, 30, 40, 50, ':) :(']

### 3) extend()
#### To add all items of ITERABLE SEQUENCE (string,tuple,set,range,  dictionary(for dictionary, it adds only keys)   ) to list
#### Syntax : l1.extend(l2)
#### All items of l2 will be added to l1

In [3]:
l1 = [1,2,3,4,5]
l2 = ['vinod','apurv','swapnil','mahesh']

l1.extend(l2)

print(l1)

[1, 2, 3, 4, 5, 'vinod', 'apurv', 'swapnil', 'mahesh']

In [47]:
a = [100,200,300,400,500]
b = (1,2,3,4,5)              # tuple

a.extend(b)

print(a)

[100, 200, 300, 400, 500, 1, 2, 3, 4, 5]

In [5]:
a = [100,200,300,400,500]
b = "Vinod"                   # string

a.extend(b)

print(a)

[100, 200, 300, 400, 500, 'V', 'i', 'n', 'o', 'd']

In [2]:
a = [100,200,300,400,500]
b = {1,2,3,4,5,6,7}                   # set

a.extend(b)

print(a)

[100, 200, 300, 400, 500, 1, 2, 3, 4, 5, 6, 7]

In [11]:
a = [100,200,300,400,500]
b = {'a':1,'b':2,'c':3,'d':4,'e':5}         # Dictionary

a.extend(b)   # for dictionary, it adds only keys

print(a)

[100, 200, 300, 400, 500, 'a', 'b', 'c', 'd', 'e']

In [9]:
a = [100,200,300,400,500]
b = range(11,21)                     # range

a.extend(b)

print(a)

[100, 200, 300, 400, 500, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### 4) remove()
#### To remove specified item  from the list.
#### If the item present multiple times then only first occurence will be removed.

In [4]:
l = [10,20,30,40,50]

l.remove(30)

print(l)

[10, 20, 40, 50]

In [14]:
l1 = [10,20,30,40,50]

l1.remove(60)       # ValueError: list.remove(x): x not in list

print(l1)

ValueError: list.remove(x): x not in list

In [17]:
l1 = [10,20,30,40,50]
x = int(input("Enter the element you to remove : "))

if x in l1:
    l1.remove(x)
    print("Removed Successfully")
    print(l1)
else:
    print("Given element is not present in l1")
    print(l1)

Enter the element you to remove : 55
Given element is not present in l1
[10, 20, 30, 40, 50]

In [18]:
l1 = [10,20,30,40,50]
x = int(input("Enter the element you to remove : "))

if x in l1:
    l1.remove(x)
    print("Removed Successfully")
    print(l1)
else:
    print("Given element is not present in l1")
    print(l1)

Enter the element you to remove : 40
Removed Successfully
[10, 20, 30, 50]

### 5) pop()
#### It removes and returns the last element of the list.
#### This is only function which manipulate list and returns some element.

In [8]:
l = [10,20,30,40,50]

print(l.pop())

print(l)

50
[10, 20, 30, 40]

In [6]:
l1 = []

print(l1.pop())           # IndexError: pop from empty list

print(l1)

IndexError: pop from empty list

### pop(index)
#### To remove and return element present at specified index

In [9]:
a = [100,200,300,400,500,600,700,800,900,1000]

print(a.pop(3))

print(a)

400
[100, 200, 300, 500, 600, 700, 800, 900, 1000]

In [10]:
a = [100,200,300,400,500,600,700,800,900,1000]

print(a.pop(11))     # IndexError: pop index out of range

print(a)

IndexError: pop index out of range

### Note : List objects are dynamic i.e., based on our requirement we can increase and decrease the size.

#### append(), insert(), extend() ---> for inserting elements(i.e., for increasing size/growable nature)
#### remove(), pop() ---> for removing elements(i.e., for decreasing size/shrinking nature)

## III. Ordering elements of List :

### 1) reverse() 
#### To reverse the order of elements of list.

In [14]:
l = [10,20,30,40,50,60]
l.reverse()
print(l)

[60, 50, 40, 30, 20, 10]

In [16]:
l1 = [100,20,30,40,50,60]
x = l1.reverse()
print(x)        # x is of a None type
print(l1)

None
[60, 50, 40, 30, 20, 100]

### 2) sort()
#### In list by default insertion order is preserved.
### If want to sort the elements of list according to default natural sorting order then we should go for sort() method.
#### For numbers ==>default natural sorting order is Ascending Order
#### For Strings ==> default natural sorting order is Alphabetical Order

In [18]:
num = [20,30,10,70,50,0,100,60]

num.sort()

print(num)

[0, 10, 20, 30, 50, 60, 70, 100]

In [20]:
num = [20,30,10,70,50,0,100,60]

y = num.sort()    # we can't assign y . y is of None type

print(y)

None

In [21]:
s = ['Boy','Dog','Apple','cat']

s.sort()

print(s)

['Apple', 'Boy', 'Dog', 'cat']

In [25]:
s1 = ['Z','B','a','A','C']

s1.sort()

print(s1)

['A', 'B', 'C', 'Z', 'a']

In [26]:
l = ['20','10','B','A']  # Here, all elements are strings only. '20','10','B','A'

l.sort()

print(l)

['10', '20', 'A', 'B']

### Note: To use sort() function, compulsory list should contain only homogenous elements, otherwise we will get TypeError.

In [23]:
l2 = [20,10,'B','A']

l2.sort() # TypeError: '<' not supported between instances of 'str' and 'int'

print(l2)

TypeError: '<' not supported between instances of 'str' and 'int'

### Note:  In Python 2 if List contains both numbers and Strings then sort() function first sort numbers followed by strings
## BUT IT IS INVALID IN PYTHON 3.

# To sort in reverse of default natural sorting order :

In [27]:
num = [20,30,10,70,50,0,100,60]
num.sort()                    # default sorting order
print(num)

[0, 10, 20, 30, 50, 60, 70, 100]

In [28]:
num = [20,30,10,70,50,0,100,60]
num.sort(reverse=True)         # reverse of default sorting order
print(num)

[100, 70, 60, 50, 30, 20, 10, 0]

In [29]:
num = [20,30,10,70,50,0,100,60]
num.sort(reverse=False)        # default sorting order
print(num)

[0, 10, 20, 30, 50, 60, 70, 100]

In [31]:
s = ['B','D','A','Z','E','G','F','A']
s.sort(reverse=True)      # reverse of default sorting order 
print(s)

['Z', 'G', 'F', 'E', 'D', 'B', 'A', 'A']

# Aliasing and Cloning of List Objects : 
### The process of giving another reference variable to the existing list is called aliasing.

In [32]:
x = [10,20,30,40,50]
y = x    # Aliasing
print(id(x))
print(id(y))

# There is only one list objects and both the references are pointing to the same object.

2247355044736
2247355044736

### The problem in this approach is by using one reference variable if we are changing content,then those changes will be reflected to the other reference variable.

In [1]:
x = [10,20,30,40,50]
y = x        # Aliasing
x[2]=5555    # changed element at second index position of x to 5555.
print(y[2])  # Automatically, second element of y also got changed to 5555.
print(x)
print(y)

5555
[10, 20, 5555, 40, 50]
[10, 20, 5555, 40, 50]

## To overcome this problem we should go for cloning.
## The process of creating exactly duplicate independent object is called cloning.
## We can implement cloning by using slice operator or by using copy() function

## 1) By using Slice Operator :

In [7]:
x = [10,20,30,40,50]
y = x[:]    # Cloning using slice operator
print(id(x))
print(id(y))

# Now, x and y have different addresses

2387483612288
2387483618368

In [5]:
x = [10,20,30,40,50]
y = x[:]    # Cloning using slice operator

x[1]=777
print("x:",x) # element at first index of only x got changed and not of y
print("y:",y) # y remains as it is

x: [10, 777, 30, 40, 50]
y: [10, 20, 30, 40, 50]

In [8]:
print(x[:])
print(y)
print(id(x[:]))
print(id(y))

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
2387483881664
2387483618368

## 2) By using copy() function :

In [42]:
x = [500,400,300,200,100]
y = x.copy()    # Cloning using slice operator
print(id(x))
print(id(y))

# Now, x and y have different addresses

2247354096512
2247361310784

In [41]:
x = [500,400,300,200,100]
y = x.copy()    # Cloning using slice operator

x[1]=9999
print("x:",x) # element at first index of only x got changed and not of y
print("y:",y) # y remains as it is

x: [500, 9999, 300, 200, 100]
y: [500, 400, 300, 200, 100]

## Difference between = operator and copy() function
### = operator meant for aliasing
### copy() function meant for cloning

# Using Mathematical Operators for List Objects :

## 1) Concatenation Operator ( + ) :
### We can use + to concatenate two lists into a single list.

In [43]:
a = [10,20,30]
b = [40,50,60]
c = a + b      # Concatenation
print(c)

[10, 20, 30, 40, 50, 60]

### Note: To use + operator compulsory both arguments should be list objects,otherwise we will get TypeError.

In [44]:
c = a + 'vinod'  # TypeError: can only concatenate list (not "str") to list

TypeError: can only concatenate list (not "str") to list

In [45]:
c = a + ['vinod']
print(c)

[10, 20, 30, 'vinod']

## 2) Repetation Operator ( * ) : 
### We can use repetition operator * to repeat elements of list specified number of times

In [51]:
a = [10,20,30,40]

c = a*2   # Repetation

print(c)

[10, 20, 30, 40, 10, 20, 30, 40]

### Note: To use * operator compulsory one argument should be int objects, otherwise we will get TypeError.

In [50]:
c = a*a  # TypeError: can't multiply sequence by non-int of type 'list'

TypeError: can't multiply sequence by non-int of type 'list'

# Comparing List Objects  :

# Membership Operator  :  (in , not in)

# clear() function :

# Nested Lists :

## Nested list as Matrix :

# List Comprehensions : 
## Syntax : list_name = [ expression for item in list  if condition]