In [9]:
n = 'a'
print(n)
print(type(n))

a
<class 'str'>

In [8]:
name = "vinod"
print(name)
print(type(name))

vinod
<class 'str'>

In [11]:
s = "vinod shende"
print(s)

vinod shende

In [13]:
s = "vinod\nshende"
print(s)

vinod
shende

In [25]:
s = """vinod
shende"""  # multi-line string literals (triple double quote)

x = '''python           
programming language'''   # multi-line string literals (triple single quote)

print(s)
print()
print(x)

vinod
shende

python
programming language

In [17]:
x = 'I'm going home'

SyntaxError: invalid syntax (<ipython-input-17-1682bf6314f5>, line 1)

In [19]:
x = "I'm going home"      # double quote
print(x)

I'm going home

In [20]:
x = 'I\'m going home'      # by using \
print(x)

I'm going home

In [22]:
x = '''I'm going home'''     # triple quote
print(x)

I'm going home

# Accessing characters of a strings :

## 1. indexing
## 2. slicing

### 1) By using index :

In [26]:
s = 'vinod'

In [28]:
s[0]

'v'

In [29]:
s[1]

'i'

In [30]:
s[-1]

'd'

In [32]:
s[6]          # IndexError: string index out of range

IndexError: string index out of range

In [2]:
name = input("Enter name : ")
i = 0
for char in name:
    print(char, ":", name.index(char))
print()
    
for char in name:
    print(char, ":", i-len(name))
    i += 1

Enter name : vinod
v : 0
i : 1
n : 2
o : 3
d : 4

v : -5
i : -4
n : -3
o : -2
d : -1

### 2) By using slice operator : 

### Syntax : s[begin : end : step]

In [3]:
s = "0123456789"

In [4]:
s[0:7:1]

'0123456'

In [5]:
s[0:7:2]

'0246'

In [7]:
s[0:7]

'0123456'

In [8]:
s[0:]

'0123456789'

In [9]:
s[::]

'0123456789'

In [10]:
s[::-1]

'9876543210'

In [11]:
s[2:8]

'234567'

In [12]:
s[2:8:-1]

''

In [13]:
s[7:3:-1]

'7654'

In [15]:
s[2:-10:-1]

'21'

In [16]:
s[2:8:0]

ValueError: slice step cannot be zero

In [17]:
s[-1:-6:-1]

'98765'

In [18]:
s[2:-5:1]

'234'

In [19]:
s[1:6:-2]

''

In [27]:
s[0:-5:-5]

''

In [30]:
s[:0:-1]

'987654321'

In [32]:
s[-5:0:-9]

'5'

In [34]:
s[2:-1:-1]   ####### end index

''

In [37]:
s[-9:0:1]    ######### end index

''

In [21]:
n ='vinod'

In [22]:
n[::-1]

'doniv'

In [23]:
n[::-1][::-1]

'vinod'

In [26]:
n[-3::-1]

'niv'

In [29]:
n[:1000]

'vinod'

## Mathiematical Operators for string :

### 1) + ==> concatenation
### 2) * ==> repetation

In [1]:
"vinod" + "shende"

'vinodshende'

In [2]:
"vinod" + " shende"

'vinod shende'

In [4]:
"vinod" + 3    # TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [10]:
"vinod" * 5

'vinodvinodvinodvinodvinod'

In [11]:
5 * "vinod"

'vinodvinodvinodvinodvinod'

In [9]:
"vinod" * "vinod"   #TypeError: can't multiply sequence by non-int of type 'str'

TypeError: can't multiply sequence by non-int of type 'str'

## len() in-built function :

In [12]:
s = "vinod"

In [13]:
print(len(s))

5

In [14]:
s = "my name is vinod"

In [15]:
print(len(s))

16

In [20]:
s = input("Enter the string : ")
n = len(s)
i = 0

print("\nforward direction : ", end = " ")
while i < n:
    print(s[i], end = " ")
    i += 1
    
print("\nbackward direction : ", end = " ")
i = -1
while i >= -n:
    print(s[i], end = " ")
    i -= 1

Enter the string : vinod

forward direction :  v i n o d
backward direction :  d o n i v

In [25]:
s = input("Enter the string : ")

print("\nforward direction : ", end = " ")
for i in s:
    print(i, end = " ")

print("\nbackward direction : ", end = " ")
for i in s[::-1]:
    print(i, end = " ")

Enter the string : vinodshende

forward direction :  v i n o d s h e n d e
backward direction :  e d n e h s d o n i v

## Checking membership :  ( in , not in )

In [1]:
s = "vinod"

In [2]:
print("d" in s)

True

In [7]:
print("ino" in s)

True

In [5]:
print("on" in s)

False

In [8]:
print("on" not in s)

True

In [9]:
def check_sub():
    choice = True
    while choice == True:
        
        
        s = input("Enter the string : ")
        sub = input("Enter the substring to search for : ")
    
        if sub in s:
            print(sub,"found in string")
        else:
            print(sub,"not found in string")

        
        choice = input("Do you want search another string : (y/n)")

        if choice == "y":
            choice = True
        else:
            print("Thank you!!!")
            choice = False
            

    
check_sub()

Enter the string : vinod
Enter the substring to search for : vin
vin found in string
Do you want search another string : (y/n)y
Enter the string : shende
Enter the substring to search for : hende
hende found in string
Do you want search another string : (y/n)n
Thank you!!!

## Comparison of strings : (> , >= , < , <= , == , !=)
#### comparison will be performed based on UNICODE VALUES and ALPHABETICAL ORDER and not on length

### check out unicode.org for unicode values

In [19]:
s1 = input("Enter the string1 : ")
s2 = input("Enter the string2 : ")
print()
if s1 == s2:
    print("both are equal")
elif s1 > s2:
    print(s1, "is greater than", s2)
else:
    print(s1, "is less than", s2)

Enter the string1 : vinod
Enter the string2 : Vinod

vinod is greater than Vinod

In [18]:
s1 = input("Enter the string1 : ")
s2 = input("Enter the string2 : ")
print()
if s1 == s2:
    print("both are equal")
elif s1 > s2:
    print(s1, "is greater than", s2)
else:
    print(s1, "is less than", s2)

Enter the string1 : vinod
Enter the string2 : vinashende

vinod is greater than vinashende

In [17]:
s1 = input("Enter the string1 : ")
s2 = input("Enter the string2 : ")
print()
if s1 == s2:
    print("both are equal")
elif s1 > s2:
    print(s1, "is greater than", s2)
else:
    print(s1, "is less than", s2)

Enter the string1 : a
Enter the string2 : ZZZZ

a is greater than ZZZZ

## Removing spaces from the string :
### 1) rstrip() --> to remove spaces at right hand side
### 2) lstrip() --> to remove spaces at left hand side
### 3) strip() --> to remove spaces on both side

In [24]:
city = input("enter the city name : ")

if city == "maharashtra" :
    print("centers in maharashtra are pune and mumbai")
else:
    print("enter valid name")

enter the city name :   maharashtra
enter valid name

In [26]:
city = input("enter the city name : ")

if city.strip() == "maharashtra delhi" :
    print("centers in maharashtra are pune and mumbai")
else:
    print("enter valid name")

enter the city name :     maharashtra delhi
centers in maharashtra are pune and mumbai

## Finding substrings :

### for forward direction :

#### 1) find()
#### 2) index()

### for backward direction :

#### 1) rfind()
#### 2) rindex()

## 1) find() :
#### s.find(substring) --> returns index of first occurence of the given substring. If it is not available then we will get -1.
#### s.find(substring,begin,end) --> it will always search for begin index to end-1 index

In [17]:
s = "abababab"

In [18]:
s.find("ab")       # s.find(substring)

0

In [12]:
s.find("ac")

-1

In [13]:
q = "ababsbbbdbbaababa"

In [14]:
q.find("ab",2,15)

2

In [15]:
q.find("ab",10,len(q))     # s.find(substring,begin,end)

12

In [3]:
s.count("ab")

4

In [11]:
s = input("Enter the main string: ")
sub = input("\nEnter the substring to search: ")
print()
l = len(s)
i = s.find(sub)

if i == -1:
    print(sub, "not not found in given string")
count = 0
while i != -1:
    count += 1
    print(sub,"present at index: ",i)
    i = s.find(sub,i+len(sub),l)
print("\nThe number of occurences: ",count)

Enter the main string: dsbbsbbbbsbbbbbsbsbb

Enter the substring to search: bb

bb present at index:  2
bb present at index:  5
bb present at index:  7
bb present at index:  10
bb present at index:  12
bb present at index:  18

The number of occurences:  6

In [44]:
x = "dsahjfhjdwwwsjswwwawdsw"

x.rfind("w")                   # rfind() method

22

## 2) index() :
#### index() method is exactly as same as find() method EXCEPT that if the specified substring is not available then we will get value error

In [19]:
s = "abdmfnbabbababbbabadsdmmabab"
sub = "ab"

s.index(sub)

0

In [21]:
s.index("abc")     # ValueError: substring not found

ValueError: substring not found

In [23]:
s = input("Enter the main string: ")
sub = input("\nEnter the substring to search: ")
print()

try:
    s.index(sub)
except:
    print("substring not found")
else:
    print("substring found")

Enter the main string: ababaabbababba

Enter the substring to search: abc

substring not found

## Counting substring in the given string : 
#### we can find the number of occurences of substring present in the given string by using count() method.

### 1) s.count(substring) --> it will search through out the string
### 1) s.count(substring,begin,end) --> it will search begin index to end-1 the string

In [24]:
s = "ababbsdfbabaabadabaadabd"

In [25]:
s.count("ab")

6

In [26]:
s.count("ab",4,len(s))

4

In [27]:
s.count("a")

10

## Replacing a string with another string : 
### s.replace(oldstring,newstring)
#### Inside s, every occurences of old string will be replaced with new string

In [28]:
s = "Python is difficult language"

In [33]:
s1 = s.replace("difficult","easy")

In [34]:
s1

'Python is easy language'

In [41]:
c = "abababababbabbbbabbababab"
c1 = c.replace("b","a")

print(c1)
print(c)

aaaaaaaaaaaaaaaaaaaaaaaaa
abababababbabbbbabbababab

In [47]:
c = "abababababbabbbbabbababab"
c1 = c.replace("b","a")
c2 = c.replace("a","b")

print("c1 : ",c1)
print("c2 : ",c2)
print("c  : ",c)

c1 :  aaaaaaaaaaaaaaaaaaaaaaaaa
c2 :  bbbbbbbbbbbbbbbbbbbbbbbbb
c  :  abababababbabbbbabbababab

## Splitting of strings :
### s.split(separator)
#### default separator is SPACE
#### return type of split() method is LIST

In [34]:
s = "vinod-shende"
s.split("-")

['vinod', 'shende']

In [51]:
alphabet = "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z"
alphabet.split()

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [52]:
date = '07/01/2001'
date.split('/')

['07', '01', '2001']

## Joining of strings : 
### we can join a group of strings (or strings in list or tuple) wrt the given separator
### s = separator.join(group of string)

In [38]:
s = "-".join("vinodshende")

In [39]:
s

'v-i-n-o-d-s-h-e-n-d-e'

In [55]:
l = ["07","01","2001"]
date = "/".join(l)
print(date)

07/01/2001

In [59]:
city = ["Pune","Mumbai","Hyderabad"]
s = "----->".join(city)

print(s)

Pune----->Mumbai----->Hyderabad

In [60]:

date = "/".join(["07","01","2001"])
print(date)

07/01/2001

In [61]:
city = ["Pune","Mumbai","Hyderabad"]
s = "".join(city)

print(s)

PuneMumbaiHyderabad

## Changing case of a string : 
### 1) s.upper() --> convert all characters to upper case
### 2) s.lower() --> convert all characters to lower case
### 3) s.swapcase() --> convert all lower case characters to upper case and all upper case characters to lower case
### 4) s.title() --> convert all characters to title case (i.e. first character of every word should be upper case and all remaining characters should be in lower case)
### 5) s.capitalize() --> only first character will be converted to upper case and all remaining characters will be converted in lower case

In [12]:
s = "vinoD sHENde is gOod boY"

In [13]:
s.upper()

'VINOD SHENDE IS GOOD BOY'

In [14]:
s.lower()

'vinod shende is good boy'

In [15]:
s.swapcase()

'VINOd ShenDE IS GoOD BOy'

In [16]:
s.title()

'Vinod Shende Is Good Boy'

In [17]:
s.capitalize()

'Vinod shende is good boy'

In [19]:
s.casefold()

'vinod shende is good boy'

In [24]:
print("".join((s.lower()).split()))  # using join and split
print()
print((s.lower().replace(" ","")))    # using replace

vinodshendeisgoodboy

vinodshendeisgoodboy

## Checking starting and ending part of the string :
### 1) s.startswith(substring)
### 2) s.endswith(substring)

In [25]:
s = "learning python is easy"

In [29]:
s.startswith("lea")

True

In [30]:
s.endswith("sy")

True

In [31]:
s.startswith("learning")

True

In [32]:
s.startswith("python")

False

In [33]:
s.endswith("easy")

True

In [35]:
s.endswith("is")

False

## To check type of characters present in a string :
#### 1) isalnum() : returns True if all characters are alphanumeric(a to z , A to Z , 0 to 9 )
#### 2) isalpha() : returns True if all characters are alphabet symbols(a to z , A to Z )
#### 3) isdigit() : returns True if all characters are digits only ( 0 to 9 )
#### 4) islower() : returns True if all characters are lowercase alphabet symbols
#### 5) isupper() : returns True if all characters are uppercase alphabet symbols
#### 6) istitle() : returns True if string is in title case
#### 7) isspace() : returns True if string contains only spaces

In [64]:
s = "Vinod3456"

In [65]:
s.isalnum()

True

In [66]:
"23456".isalnum()

True

In [46]:
s.isalpha()

False

In [47]:
"viBHFGssa".isalpha()

True

In [48]:
s.isdigit()

False

In [50]:
"123456789".isdigit()

True

In [51]:
s.islower()

False

In [53]:
"vinod".islower()

True

In [54]:
s.isupper()

False

In [57]:
"VINOD".isupper()

True

In [58]:
"VINOD1234".isupper()

True

In [60]:
s.istitle()

True

In [61]:
"Vinod Shende".istitle()

True

In [45]:
s.isspace()

False

In [62]:
"vinod shende ".isspace()

False

In [63]:
"           ".isspace()

True

## Formatting the strings :

In [6]:
name = "Vinod"
salary = 50000
age = 21

print("{}'s salary is {} and his age is {}".format(name,salary,age))

print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))

print("{b}'s salary is {a} and his age is {c}".format(a=salary,b=name,c=age))

print("{b}'s salary is {a} and his age is {c}".format(a=10000,b="swapnil",c=40))

print(f"{name}'s salary is {salary} and his age is {age}")

Vinod's salary is 50000 and his age is 21
Vinod's salary is 50000 and his age is 21
Vinod's salary is 50000 and his age is 21
swapnil's salary is 10000 and his age is 40
Vinod's salary is 50000 and his age is 21

# PROGRAMS :

## 1) Reverse the string

In [2]:
s = input("Enter the string to reverse : ")

reversed_str = s[::-1]

print("Reversed string : ",reversed_str)

Enter the string to reverse : My name is VINOD
Reversed string :  DONIV si eman yM

In [6]:
s = input("Enter the string to reverse : ")

print(''.join(reversed(s)))

Enter the string to reverse : My name is VINOD
DONIV si eman yM

In [12]:
s = input("Enter the string to reverse : ")
i = len(s)-1
target = ''
while i>=0:
    target = target + s[i]
    i -= 1

print("Reversed string : ",target)

Enter the string to reverse : My name is VINOD
Reversed string :  DONIV si eman yM

## 2) Reverse the order of words

In [66]:
s = input("Enter the string : ")

x = s.split()
x.reverse()    # if you take y = x.reverse() , then y is None type
i = len(x)-1
while i>=0:
    reverve_order = " ".join(x)
    i -= 1

print("Reverse order of words: ",reverve_order)

Enter the string : My name is Vinod Shende !!!!!!
Reverse order of words:  !!!!!! Shende Vinod is name My

In [68]:
s = input("Enter the string : ")

l = s.split()
l1 = []
i = len(l)-1

while i >=0:
    l1.append(l[i])
    i -= 1
reverve_order = " ".join(l1)
print("Reverse order of words: ",reverve_order)

Enter the string : My name is Vinod Shende
Reverse order of words:  Shende Vinod is name My

## 3) Reverse internal content of each word

In [72]:
s = input("Enter the string : ")

l = s.split()
l1 = []
for word in l:
    w = word[::-1]
    l1.append(w)
    
print("Output : "," ".join(l1))

Enter the string : My name is Vinod Shende
Output :  yM eman si doniV ednehS

## 4) Print characters at odd position and even position for the given string

In [4]:
s = input("Enter the string : ")

print("characters at ODD postion : ",s[0::2])
print("\ncharacters at Even postion : ",s[1::2])

Enter the string : vinod
characters at ODD postion :  vnd

characters at Even postion :  io

In [1]:
s = input("Enter the string : ")
i = 0

print("characters at ODD postion : ")
while i<len(s):
    
    print(s[i],end=" ")
    i += 2
        
print("\ncharacters at EVEN postion : ")
i = 1
while i<len(s):   
        print(s[i],end=" ")
        i += 2

Enter the string : vinod
characters at ODD postion :
v n d
characters at EVEN postion :
i o

## 5) Merge characters of 2 strings into a single string by taking characters alternatively

In [10]:
s1 = input("Enter the 1st string : ")
s2 = input("Enter the 2nd string : ")
i = 0

print("\nOutput :",end = " ")
for char1 in s1:
    print(char1,end = " ")
    while i<=len(s2)-1:
        for char2 in s2:
            print(s2[i],end = " ")
            i += 1
            break
        break

Enter the 1st string : Vndhne
Enter the 2nd string : ioSed

Output : V i n o d S h e n d e

In [14]:
s1 = input("Enter the 1st string : ")
s2 = input("Enter the 2nd string : ")
output = ""
i,j = 0,0

while i<len(s1) or j<len(s2):
    if i<len(s1):
        output = output + s1[i]
        i += 1
    if j<len(s2):
        output = output + s2[j]
        j += 1 
print("\nOutput :",output)

Enter the 1st string : Vndhne
Enter the 2nd string : ioSed

Output : VinodShende

## 6) Sort the characters of the string and first alphabet symbols followed by numeric values
#### e.g : input : B4A1D3
#### output : ABD134

In [18]:
s = input("Enter the string : ")
alphabet = ''
num = ''

for char in s:
    if char.isalpha() == True:
        alphabet = alphabet + char
    elif char.isdigit() == True:
        num = num + char
    else:
        continue

print("\nOutput :",alphabet+num)

Enter the string : V12i34no5d

Output : Vinod12345

In [21]:
s = input("Enter the string : ")
alphabet = num = ''

for char in s:
    if char.isalpha() == True:
        alphabet = alphabet + char
        
    elif char.isdigit() == True:
        num = num + char
        
    else:
        continue
        
alphabet = ''.join(sorted(alphabet))
num = ''.join(sorted(num))

print("\nOutput :",alphabet+num)

Enter the string : B4A1D3

Output : ABD134

## 7) Write the program for the following Requirement :
#### input : a4b3c2
#### output : aaaabbbcc

In [6]:
s = input("Enter the string : ")
alphabet = num = output = ''
i= 0

for char in s:
    if char.isalpha()==True:
        for x in s[i+1:]:
            if x.isdigit()==True:
                num += x
                i += 1
            else:
                break
        output += char * int(num)
        i += 1
        num = ''
    else:
        continue

print("\nOutput :",output)

a_string = b_string = c_string = ""
j = 0

while j<=len(output)-1 and output[j] == 'a':
    a_string = a_string + "a"
    j += 1
while j<=len(output)-1 and output[j] == 'b':
    b_string += "b"
    j += 1
while j<=len(output)-1 and output[j] == 'c' :
    c_string += "c"
    j += 1

print("\nlenth of 'a' string :",len(a_string))
print("lenth of 'b' string :",len(b_string))
print("lenth of 'c' string :",len(c_string))

Enter the string : a11b5c30

Output : aaaaaaaaaaabbbbbcccccccccccccccccccccccccccccc

lenth of 'a' string : 11
lenth of 'b' string : 5
lenth of 'c' string : 30

In [9]:
s = input("Enter the string : ")
output = ''

for x in s:
    if x.isalpha()==True:
        output = output + x
        previous = x
    else:
        output = output + previous*(int(x)-1)

print("\nOutput :",output)

a_string = b_string = c_string = ""
j = 0

while j<=len(output)-1 and output[j] == 'a':
    a_string = a_string + "a"
    j += 1
while j<=len(output)-1 and output[j] == 'b':
    b_string += "b"
    j += 1
while j<=len(output)-1 and output[j] == 'c' :
    c_string += "c"
    j += 1

print("\nlenth of 'a' string :",len(a_string))
print("lenth of 'b' string :",len(b_string))
print("lenth of 'c' string :",len(c_string))

Enter the string : a11b5c30

Output : abbbbbccc

lenth of 'a' string : 1
lenth of 'b' string : 5
lenth of 'c' string : 3

### chr(unicode) --> The corresponding character
### ord(character) --> The corresponding unicode value

## 8) Write the program for the following Requirement :
#### input : a4k3b2
#### output : aeknbd

In [23]:
s = input("Enter the string : ")
output = ''

for x in s:
    if x.isalpha():
        output += x
        previous = x
    else:
        output += chr(ord(previous)+int(x))

print("\nOutput :", output)

Enter the string : a4k3b2

Output : aeknbd

In [5]:
s = input("Enter the string :")
num = output = ''
i = 0
   
for x in s:
    if x.isalpha()==True:
        output += x
        for y in s[i+1:]:
            if y.isdigit()==True:
                num += y
                i += 1
            else:
                break
        #print(num)
        if num != '':
            output += chr(int(num))    # v105n111d
        i += 1
        num = ''
    else:
        continue

print("\nOutput :", output)

Enter the string :S87A80N73L

Output : SWAPNIL

## 9) Remove duplicate characters from the given input string
#### input : AAABBCBBCCCDDEEEAAA
#### output : ABCDE

In [5]:
s = input("Enter the string : ")
output = ""

for char in s:
    if char not in output:
        output += char
    else:
        continue
        
print("\nOutput :", output)

Enter the string : AAABBCBBCCCDDEEEAAA

Output : ABCDE

In [7]:
s = input("Enter the string : ")
l = []

for char in s:
    if char not in l:
        l.append(char)
output = ''.join(l)
print("\nOutput :", output)

Enter the string : AAABBCBBCCCDDEEEAAA

Output : ABCDE

## 10) Find the number of occurrences of each character present in the given string

In [5]:
s = input("Enter the string : ")
character = ""
print()
for char in s:
    if char not in character:
        character += char
    else:
        continue
for x in character:
    print(f"No. of occurrences of {x} in given string : {s.count(x)}")

Enter the string : ABCABCABBCDE

No. of occurrences of A in given string : 3
No. of occurrences of B in given string : 4
No. of occurrences of C in given string : 3
No. of occurrences of D in given string : 1
No. of occurrences of E in given string : 1

In [19]:
s = input("Enter the string : ")
d = {}

for x in s:
    if x in d.keys():
        d[x]=d[x]+1
    else:
        d[x] = 1
for k,v in d.items():
    print("{} = {} times".format(k,v))

Enter the string : ABCABCABBCDE
A = 3 times
B = 4 times
C = 3 times
D = 1 times
E = 1 times

## 11) Write the program for the following Requirement :
#### input : 'one two three four five six seven'
#### output : 'one owt three ruof five xis seven'

In [4]:
s = input("Enter the string : ")
output = ""
i = 0
l = s.split()

for x in l:
    if i%2==0:
        output += " "+ x
        i += 1
    else:
        
        output += " "+ x[::-1]
        i += 1

print("\noutput:",output)

Enter the string : one two three four five six seven

output:  one owt three ruof five xis seven