### case 1: Basic formatting for default, positonal and keyword arguments :

In [106]:
name = "Vinod"
salary = 50000
age = 21

print("{}'s salary is {} and his age is {}".format(name,salary,age))

print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))

print("{b}'s salary is {a} and his age is {c}".format(a=salary,b=name,c=age))

print("{b}'s salary is {a} and his age is {c}".format(a=10000,b="swapnil",c=40))

print(f"{name}'s salary is {salary} and his age is {age}")   # f string literal

Vinod's salary is 50000 and his age is 21
Vinod's salary is 50000 and his age is 21
Vinod's salary is 50000 and his age is 21
swapnil's salary is 10000 and his age is 40
Vinod's salary is 50000 and his age is 21

### case 2: Formatting Numbers :
#### d --> Decimal integer
#### f --> Fixed point number (float). The default precision is 6.
#### b --> Binary format
#### o --> Octal format
#### x --> Hexa Decimal format (Lower case)
#### X --> Hexa Decimal format (Upper case)

In [138]:
print("The integer number is: {}".format(123))
print("The integer number is: {:d}".format(123))
print("The integer number is: {:5d}".format(123))
print("The integer number is: {:05d}".format(123))
print("The integer number is: {:5d}".format(123456789))

The integer number is: 123
The integer number is: 123
The integer number is:   123
The integer number is: 00123
The integer number is: 123456789

In [111]:
print("The float number is: {}".format(123.4567))
print("The float number is: {:f}".format(123.4567))
print("The float number is: {:5f}".format(123.4567))
print("The float number is: {:8.7f}".format(123.4567))
print("The float number is: {:09.3f}".format(123.4567891))
print("The float number is: {:08.3f}".format(123.4))
print("The float number is: {:08.3f}".format(12345656.789))

The float number is: 123.4567
The float number is: 123.456700
The float number is: 123.456700
The float number is: 123.4567000
The float number is: 00123.457
The float number is: 0123.400
The float number is: 12345656.789

In [136]:
print("The float number is:{:07.9f}".format(123.4))

The float number is:123.400000000

In [74]:
print("Binary Form : {0:15b}".format(153))
print("Binary Form : {:15b}".format(153))
print("Binary Form : {:015b}".format(153))

Binary Form :        10011001
Binary Form :        10011001
Binary Form : 000000010011001

In [85]:
print("Octal Form : {:o}".format(153))
print("Octal Form : {:5o}".format(153))
print("Octal Form : {:09o}".format(153))

Octal Form : 231
Octal Form :   231
Octal Form : 000000231

In [103]:
print("Hexa Decimal Form : {:x}".format(154))
print("Hexa Decimal Form : {:5x}".format(154))               # Hexa Decimal format (lower case)
print("Hexa Decimal Form : {:05x}".format(154))

print("\n")

print("Hexa Decimal Form : {:X}".format(154))
print("Hexa Decimal Form : {:5X}".format(154))               # Hexa Decimal format (Upper case)
print("Hexa Decimal Form : {:05X}".format(154))

Hexa Decimal Form : 9a
Hexa Decimal Form :    9a
Hexa Decimal Form : 0009a


Hexa Decimal Form : 9A
Hexa Decimal Form :    9A
Hexa Decimal Form : 0009A

### case 3: Number formatting for signed numbers :

In [143]:
print("int value with sign: {:+d}".format(123))

int value with sign: +123

In [145]:
print("int value with sign: {:+9d}".format(123))

int value with sign:      +123

In [147]:
print("int value with sign: {:+09d}".format(123))

int value with sign: +00000123

In [154]:
print("int value with sign: {:+d}".format(-123))
print("int value with sign: {:06d}".format(-123))

int value with sign: -123
int value with sign: -00123

In [164]:
print("int value with sign: {:+f}".format(123.456))
print("int value with sign: {:+f}".format(123.456))


print()


print("int value with sign: {:f}".format(-123.456))
print("int value with sign: {:9.8f}".format(-123.456))

int value with sign: +123.456000
int value with sign: +123.456000

int value with sign: -123.456000
int value with sign: -123.45600000

### case 4: Number formatting with alignment : 
#### < , > , ^ , =  are used for alignment 
#### < ---- Left alignment to the remaining space
#### > ---- Right alignment to the remaining space
#### ^ ---- Center alignment to the remaining space
#### = ---- Forces the signed (+) (-) to the left most position
#### Defaultt alignment for numbers is Right Alignment

In [1]:
print("Number : {:5d}".format(1255678))
print("Number : {:5d}".format(12))                    # Defaultt alignment for numbers is Right Alignment

Number : 1255678
Number :    12

In [1]:
print("Number : {:<5d}".format(12))
print("Number : {:<05d}".format(12))
print("Number : {:>5d}".format(12))
print("Number : {:>05d}".format(12))
print("Number : {:^5d}".format(12))
print("Number : {:=5d}".format(-12))
print("Number : {:^10.3f}".format(12.23456))
print("Number : {:=8.3f}".format(-12.23456))

Number : 12
Number : 12000
Number :                   12
Number : 00012
Number :  12
Number : -  12
Number :   12.235
Number : - 12.235

In [6]:
print("{:<5d} {:^5d} {:>5d}".format(12,12,12))

12     12      12

### case 5: String formatting wirth .format() method : 
#### Default alignment for strings is LEFT

In [2]:
print("{:9d}".format(12))
print("{:9}".format("vinod"))
print("{:<9}".format("vinod"))
print("{:>9}".format("vinod"))
print("{:^9}".format("vinod"))
print("{:*<9}".format("vinod"))  # instead of * we can use any character (like +,$,a,etc)
print("{:*>9}".format("vinod"))

       12
vinod
vinod
    vinod
  vinod
vinod****
****vinod

In [19]:
list1 = []
count = 1
while count <= 5:
    
    name = input("Enter Student Name : ")
    x = input("Marks in MATH: ")
    y = input("Marks in SCIENCE: ")
    z = input("Marks in ENGLISH: ")
    a = input("Marks in PYTHON: ")
    l = [name,x,y,z,a]
    count += 1
    list1.append(l)

print("-----------------------------------------------------------")
print("|{:^9} | {:^9} | {:^9} | {:^9} | {:^9} |".format("NAME","MATH","SCIENCE","ENGLISH","PYTHON"))
print("-----------------------------------------------------------")

for m in list1:
    
    name,x,y,z,a = m
    print("|{:^9} | {:^9} | {:^9} | {:^9} | {:^9} |".format(name,x,y,z,a))
    print("-----------------------------------------------------------")

Enter Student Name : Vinod
Marks in MATH: 1
Marks in SCIENCE: 2
Marks in ENGLISH: 3
Marks in PYTHON: 4
Enter Student Name : Swapnil
Marks in MATH: 10
Marks in SCIENCE: 20
Marks in ENGLISH: 30
Marks in PYTHON: 40
Enter Student Name : Apurv
Marks in MATH: 11
Marks in SCIENCE: 22
Marks in ENGLISH: 33
Marks in PYTHON: 44
Enter Student Name : Kiran
Marks in MATH: 55
Marks in SCIENCE: 66
Marks in ENGLISH: 77
Marks in PYTHON: 88
Enter Student Name : Mahesh
Marks in MATH: 50
Marks in SCIENCE: 60
Marks in ENGLISH: 70
Marks in PYTHON: 80
-----------------------------------------------------------
|  NAME    |   MATH    |  SCIENCE  |  ENGLISH  |  PYTHON   |
-----------------------------------------------------------
|  Vinod   |     1     |     2     |     3     |     4     |
-----------------------------------------------------------
| Swapnil  |    10     |    20     |    30     |    40     |
-----------------------------------------------------------
|  Apurv   |    11     |    22     |    33     |    44     |
-----------------------------------------------------------
|  Kiran   |    55     |    66     |    77     |    88     |
-----------------------------------------------------------
| Mahesh   |    50     |    60     |    70     |    80     |
-----------------------------------------------------------

In [ ]:
print("{:<9} {:^9} {:^9} {:^9} {:>9} ".format("Vinod",50,60,70,80))

In [1]:
list1 = [['vinod',2,3,4,5],['mahesh',22,33,44,55],['swapnil',12,34,56,78]]

for m in list1:
    
    name,x,y,z,a = m
    print("|{:^9} | {:^9} | {:^9} | {:^9} | {:^9} |".format(name,x,y,z,a))

|  vinod   |     2     |     3     |     4     |     5     |
| mahesh   |    22     |    33     |    44     |    55     |
| swapnil  |    12     |    34     |    56     |    78     |

In [2]:
list1 = [['vinod',2,3,4,5],['mahesh',22,33,44,55],['swapnil',12,34,56,78]]

for m in list1:
    
    
    print("|{:^9} | {:^9} | {:^9} | {:^9} | {:^9} |".format(name,x,y,z,a))

| swapnil  |    12     |    34     |    56     |    78     |
| swapnil  |    12     |    34     |    56     |    78     |
| swapnil  |    12     |    34     |    56     |    78     |

### case 6: Truncating strings with .format() method :

In [32]:
print("{:.3}".format("vinodshende")) #takes only 3 positions and truncate string upto 3 characters

vin

In [33]:
print("{:10.3}".format("vinodshende"))   # it takes 10 position and truncate the string upto 3 characters and default alignment is LEFT

vin

In [17]:
print("{:>10.3}".format("durgasoftware"))   # RIGHT Alignment

       dur

In [23]:
print("{:^10.3}".format("durgasoftware"))    # Center Alignment

   dur

In [39]:
print("{:*^10.3}".format("durgasoftware"))    # takes * instead of spaces

***dur****

### case 7: Formatting dictionary members using .format() method :

In [50]:
person = {'age':21, 'name':'vinod'}

print("{p[name]}'s age is {p[age]}".format(p=person))    # p = person

print("{name}'s age is {age}".format(**person))   # Another way is **dictionary name/variable name ==> **person

vinod's age is 21
vinod's age is 21

In [52]:
book = {'name':'Wings of fire', 'page':180, 'author':'Arun Tiwari'}

print("{b[author]} is the author of the book '{b[name]}' and it has {b[page]} pages.".format(b=book))

print("{author} is the author of the book '{name}' and it has {page} pages.".format(**book))   # **book

Arun Tiwari is the author of the book 'Wings of fire' and it has 180 pages.
Arun Tiwari is the author of the book 'Wings of fire' and it has 180 pages.

### case 8: Formatting class members using .format() method :

In [54]:
class Person:
    name = 'Vinod'
    age = 21
    
print("{p.name}'s age is {p.age}".format(p = Person()))

Vinod's age is 21

In [55]:
class Person:
    
    def __init__(self,name,age):
        self.name = name
        self.age  = age
        
print("{p.name}'s age is {p.age}".format(p = Person('Vinod',21)))
print("{p.name}'s age is {p.age}".format(p = Person('Swapnil',22)))

Vinod's age is 21
Swapnil's age is 22

### case 9: Dynamic formatting using .format() method :

In [66]:
string = "{:{fill}{align}{width}}"

print(string.format('cat',fill='*',align='^',width=5))
# print("{:*^5}".format("cat"))

print(string.format('cat',fill='*',align='^',width=7))
# print("{:*^7}".format("cat"))

print(string.format('cat',fill='*',align='<',width=5))
# print("{:*<5}".format("cat"))

print(string.format('cat',fill='*',align='>',width=5))
# print("{:*>5}".format("cat"))

*cat*
**cat**
cat**
**cat

### case 10: Dynamic float template :

In [89]:
num = "{:{align}{width}.{precision}f}"

print(num.format(123.445636672, align='<', width=9, precision=3))

print(num.format(1.23456789, align='>', width=9, precision=2))

123.446
     1.23

In [92]:
num = "{:{fill}{align}{width}.{precision}f}"

print(num.format(123.445636672,fill='*', align='<', width=9, precision=3))

print(num.format(1.23456789,fill='*', align='>', width=9, precision=2))

123.446**
*****1.23

### case11: Formatting date values :

In [9]:
import datetime

date = datetime.datetime.now()

print("It's now {:%d/%m/%Y  %H:%M:%S}".format(date))

print("today's date is {:%d/%m/%Y and time is %H:%M:%S}".format(date))

It's now 07/09/2021  11:02:59
today's date is 07/09/2021 and time is 11:02:59

### case 12: Formatting complex numbers :

In [3]:
comp = 12+2j

print("real part is {0.real} amd imaginary part is {0.imag}".format(comp))

real part is 12.0 amd imaginary part is 2.0