In [28]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n):
    print("* "*n)

Enter the number of rows: 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [30]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    print((str(i)+" ")*n)

Enter the number of rows: 5

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [31]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,n+1):
        print(i,end=" ")
    print()

Enter the number of rows: 5

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [33]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end=" ")
    print()

Enter the number of rows: 10

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [2]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+i),end=" ")
    print()

Enter the number of rows: 5

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [12]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    print((chr(64+i)+" ")*n)

Enter the number of rows: 5

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [13]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+j),end=" ")
    print()

Enter the number of rows: 5

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [5]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n,0,-1):
    print((str(i)+" ")*n)

Enter the number of rows: 5

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [6]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n,0,-1):
    for j in range(n,0,-1):
        print(i,end=" ")
    print()

Enter the number of rows: 5

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [9]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n,0,-1):
    for j in range(n,0,-1):
        print(j,end=" ")
    print()

Enter the number of rows: 5

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [20]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n,0,-1):
    for j in range(n,0,-1):
        print(chr(64+i),end=" ")
    print()

Enter the number of rows: 5

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [23]:
n = int(input("Enter the number of rows: "))
print()
for i in range(n,0,-1):
    print((chr(64+i)+" ")*n)

Enter the number of rows: 5

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [24]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n,0,-1):
    for j in range(n,0,-1):
        print(chr(64+j),end=" ")
    print()

Enter the number of rows: 5

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [30]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    print("* "*i)

Enter the number of rows: 10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [35]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter the number of rows: 10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [51]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter the number of rows: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [53]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    print((str(i)+" ")*i)

Enter the number of rows: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [38]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter the number of rows: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [43]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+i),end=" ")
    print()

Enter the number of rows: 10

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I
J J J J J J J J J J

In [44]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()

Enter the number of rows: 10

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J

In [46]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print()

Enter the number of rows: 10

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [49]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n,0,-1):
    print("* "*i)

Enter the number of rows: 10

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [64]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(i,end=" ")
    print()

Enter the number of rows: 5

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [65]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end=" ")
    print()

Enter the number of rows: 5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [67]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(64+i),end=" ")
    print()

Enter the number of rows: 10

A A A A A A A A A A
B B B B B B B B B
C C C C C C C C
D D D D D D D
E E E E E E
F F F F F
G G G G
H H H
I I
J

In [69]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(64+j),end=" ")
    print()

Enter the number of rows: 10

A B C D E F G H I J
A B C D E F G H I
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [100]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter the number of rows: 10

10 10 10 10 10 10 10 10 10 10
9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [101]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(n+1-i,end=" ")
    print()

Enter the number of rows: 10

10 10 10 10 10 10 10 10 10 10
9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [102]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n,0,-1):
    for j in range(n,n-i,-1):
        print(j,end=" ")
    print()

Enter the number of rows: 10

10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2
10 9 8 7 6 5 4 3
10 9 8 7 6 5 4
10 9 8 7 6 5
10 9 8 7 6
10 9 8 7
10 9 8
10 9
10

In [103]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(n+1-j,end=" ")
    print()

Enter the number of rows: 10

10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2
10 9 8 7 6 5 4 3
10 9 8 7 6 5 4
10 9 8 7 6 5
10 9 8 7 6
10 9 8 7
10 9 8
10 9
10

In [6]:
n = int(input("Enter the number of rows: "))
print()

for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print(end=" "*((n-i)*4))
    for k in range(i,0,-1):
        print(k,end=" ")
    print()

Enter the number of rows: 9

1 2 3 4 5 6 7 8 9 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8     8 7 6 5 4 3 2 1
1 2 3 4 5 6 7         7 6 5 4 3 2 1
1 2 3 4 5 6             6 5 4 3 2 1
1 2 3 4 5                 5 4 3 2 1
1 2 3 4                     4 3 2 1
1 2 3                         3 2 1
1 2                             2 1
1                                 1

In [12]:
n = int(input("Enter the number of rows: "))
print()

for i in range(0,n):
    for j in range(n-1,i,-1):
        print(j,end=" ")
    print(end=" "*((i)*4))
    for k in range(i+1,n):
        print(k,end=" ")
    print()

Enter the number of rows: 10

9 8 7 6 5 4 3 2 1 1 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2     2 3 4 5 6 7 8 9
9 8 7 6 5 4 3         3 4 5 6 7 8 9
9 8 7 6 5 4             4 5 6 7 8 9
9 8 7 6 5                 5 6 7 8 9
9 8 7 6                     6 7 8 9
9 8 7                         7 8 9
9 8                             8 9
9                                 9

In [107]:
n = int(input("Enter the number of rows: "))
print()

for x in range(1,n+1):
    for y in range(1,x+1):
        print("*",end=" ")
    print()

Enter the number of rows: 10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [5]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(n-i,0,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

Enter the number of rows: 10

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [4]:
n = int(input("Enter the number of rows: "))
print()

for i in range(1,n+1):
    for j in range(n,i-1,-1):
        print("*",end=" ")
    print(end = " "*((i-1)*4))
    for k in range(i,n+1):
        print("*",end=" ")
        
    print()
for x in range(1,n+1):
    for y in range(1,x+1):
        print("*",end=" ")
    print(end = " "*((n-x)*2))
    for z in range(n-x,0,-1):
        print(" ",end=" ")
    for a in range(1,x+1):
        print("*",end=" ")
    print()

Enter the number of rows: 10

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * *     * * * * * * * * *
* * * * * * * *         * * * * * * * *
* * * * * * *             * * * * * * *
* * * * * *                 * * * * * *
* * * * *                     * * * * *
* * * *                         * * * *
* * *                             * * *
* *                                 * *
*                                     *
*                                     *
* *                                 * *
* * *                             * * *
* * * *                         * * * *
* * * * *                     * * * * *
* * * * * *                 * * * * * *
* * * * * * *             * * * * * * *
* * * * * * * *         * * * * * * * *
* * * * * * * * *     * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *